

<nav class="navbar navbar-expand-lg" style="background-color: #042F54;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 17px;">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg py-3 mx-1" style="background-color: #042F54; border-radius: 15px;">
  <div class="container-fluid">
    <a class="navbar-brand pr-5" href="#" style="font-size: 20px;"><strong>SalonSolutions</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-plus-circle fa-lg" style="color:white;"></i>
      
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-itemmx-2 " style="border:1px solid black; border-radius:15px; background-color:#FCFCFC;">
        
          <a class="nav-link " href="#" style="font-size:13px; color:#042F54"><i class="fas fa-tachometer-alt fa-lg "></i>&nbsp; Dashboard</a>
        </li>
        <li class="nav-item mx-2" style="border:1px solid black; border-radius:15px; background-color:#FCFCFC;">
          <a class="nav-link " href="#" style="font-size:13px; color:#042F54"><i class="fas fa-receipt"></i>&nbsp; Billing</a>
        </li>
        <li class="nav-item mx-2" style="border:1px solid black; border-radius:15px; background-color:#FCFCFC;">
          <a class="nav-link " href="#" style="font-size:13px; color:#042F54"><i class="fas fa-shopping-basket"></i> &nbsp; Inventory</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>